@use 'layout' as l;

.current-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  padding-top: 0.5rem;
  border-left: 2px solid rgb(70,70,70);
  font-family: l.$mainFont;
  color: l.$fontColor;


  h2 {
    margin-top: 0;
    font-family: 'Bangers', cursive;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    letter-spacing: 0.1rem;
    background-color: rgb(200, 84, 84);
    color: #eee;
    border-radius: 3px;
    box-shadow: 2px 3px 3px -1px rgb(100, 100, 100);
  }

  #mapid {
    height: 40vw;
    width: 90%;
  }
}

