@use 'layout' as l;

.map-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  // border: 2px solid rgb(70, 70, 70);
  border-radius: 2px;
  padding: 0.5rem;
  color: l.$fontColor;
  font-family: l.$mainFont;

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1rem;
  }

  // .list-of-maps {
  //   height: 200px;
  //   overflow: auto;
  // }

  .map-list-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
  }

  button {
    padding: 0.3rem;
    border: none;
    background-color: none;
    font-family: l.$mainFont;
    color: rgb(65, 110, 246);
    font-weight: bold;
    font-size: 14px;
  }

  button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  button:active {
    transform: scale(1);
  }

  ul {
    list-style: none;
    padding-left: 0;
    height: 150px;
    width: 90%;
    overflow: auto;
  }

  li {
    font-size: 14px;
    color: rgb(70, 70, 70);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border: solid 2px rgb(70, 70, 70);
    // background-color: rgb(225, 225, 225);
  }

  li:hover {
    cursor: pointer;
    box-shadow: 3px 3px 0 0 #548fa59b;
  }

  li:active {
    transform: scale(0.95);
  }
}
