@use 'layout' as l;

.map-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  // border: 2px solid rgb(70, 70, 70);
  border-radius: 2px;
  padding: 0.5rem;
  color: l.$fontColor;
  font-family: l.$mainFont;

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.1rem;
  }

  .map-list-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul {
    padding-left: 0;
  }
}
