$fontColor: #EEE;
$logoFont: 'Bangers', cursive;
$buttonFont: 'Source Sans Pro', sans-serif;


nav {
  position: fixed;
  z-index: 10;

.nav-container {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100vw;
  background-image: url('/images/black-linen-2.png');
  background-color: rgb(70, 70, 70);
  box-shadow: 0 4px 4px -1px rgb(100, 100, 100);

  .logo {
    font-family: $logoFont;
    letter-spacing: 0.1em;
    color: $fontColor;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
  }

  .logo:hover {
    cursor:pointer;
  }

  .nav-right {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;

    margin-right: 1rem;

  }

  .nav-left {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-self: center;
  }

  .dropdown {
    display: flex;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .dropdown:hover {
    .fa-caret-down {
      animation: bob 1s linear infinite;
    }

    @keyframes bob {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(2px);
      }
    }

    .dropdown-content {
      display: flex;
    }
  }

  .dropdown-button:hover {
    transform: scale(1);
  }

  .dropdown-content{
    display:none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 1;
    width: 200px;
    margin-top: 2rem;
    background-color: #eee;
    box-shadow: 0 4px 4px -1px rgb(100, 100, 100);



    button {
      display:block;
      width: 100%;
      // padding-top: 0.5rem;
      // padding-bottom: 0.5rem;
      padding: 0.8rem;
      color: rgb(70, 70, 70);
      font-size: 0.8rem;
      font-weight: 300;
      text-align: left;
    }

    button:hover {
      background-color: #548fa59b;
      transform: scale(1);
      color: #eee;
    }

    button:active {
      font-size: 0.75rem;
    }

    #discover {
      border-right: 3px solid rgb(70, 70, 70);
      border-left: 3px solid rgb(70, 70, 70);
      border-top: 3px solid rgb(70, 70, 70);
      border-bottom: 0px solid rgb(70, 70, 70);
    }

    #favorites {
      border-right: 3px solid rgb(70, 70, 70);
      border-left: 3px solid rgb(70, 70, 70);
      border-top: 3px solid rgb(70, 70, 70);
      border-bottom: 0px solid rgb(70, 70, 70);
    }

    #my-maps {
      border-right: 3px solid rgb(70, 70, 70);
      border-left: 3px solid rgb(70, 70, 70);
      border-top: 3px solid rgb(70, 70, 70);
      border-bottom: 0px solid rgb(70, 70, 70);
    }

    #my-contributions {
      border-right: 3px solid rgb(70, 70, 70);
      border-left: 3px solid rgb(70, 70, 70);
      border-top: 3px solid rgb(70, 70, 70);
      border-bottom: 3px solid rgb(70, 70, 70);
    }
  }


  #create-new-map {
    align-self: center;
    height: 1.5rem;
    margin-left: 1rem;
    border-radius: 3px;
    background-color: #eee;
    color: rgb(70, 70, 70);
    font-size: 0.8rem;

    .fa-map-marker-alt {
      margin-left: 0.2rem;
    }
  }

  button {
    border: none;
    background-color: transparent;
    color: $fontColor;
    font-family: $buttonFont;
    font-weight: bold;
  }

  button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  button:active {
    transform: scale(1);
  }
}
}
