$fontColor: #EEE;
$logoFont: 'Bangers', cursive;
$buttonFont: 'Source Sans Pro', sans-serif;

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100vw;
  background-color: rgb(70, 70, 70);
  box-shadow: 0 4px 4px -1px rgb(100, 100, 100);

  .logo {
    font-family: $logoFont;
    letter-spacing: 0.1em;
    color: $fontColor;
    margin-top: 0;
    margin-bottom: 0;
  }

  .logo:hover {
    cursor:pointer;
  }

  .nav-right {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;

  }

  .nav-left {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    align-self: flex-end;
  }

  .dropdown {
    display: flex;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .dropdown:hover {
    .dropdown-content {
      display: flex;
    }
  }

  .dropdown-button:hover {
    // background-color: salmon;
    transform: scale(1);
  }

  .dropdown-content{
    display:none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 1;
    margin-top: 2rem;
    background-color: rgb(106, 106, 106);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 4px 4px -1px rgb(100, 100, 100);



    button {
      display:block;
      width: 100%;
      // padding-top: 0.5rem;
      // padding-bottom: 0.5rem;
      padding: 0.8rem;
      color: #EEE;
      font-size: 0.8rem;
      font-weight: 300;
      text-align: left;
    }

    button:hover {
      background-color: rgb(201, 201, 201);
      transform: scale(1);
      color: rgb(70, 70, 70);
    }
  }


  #create-new-map {
    align-self: center;
    height: 1.5rem;
    margin-left: 1rem;
    border-radius: 3px;
    background-color: #eee;
    color: rgb(70, 70, 70);
    font-size: 0.8rem;

    .fa-map-marker-alt {
      margin-left: 0.2rem;
    }
  }

  button {
    border: none;
    background-color: transparent;
    color: $fontColor;
    font-family: $buttonFont;
    font-weight: bold;
  }

  button:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  button:active {
    transform: scale(1);
  }
}
