<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <style>
    html,
    body {
      height: 100%
    }

    #mapid {
      height: 80%;
      width: 80%
    }
  </style>
</head>

<body>
  <div id="mapid"></div>
  <br>
  <button id='get-coords'>Coords</button>
  <br>
  <button id='locate-current'>Locate me</button>
  <br>
  <button id='enable-pins'>Enable pins</button>
  <span>placeholding button</span>
</body>
<script>
  $(function () {
    getCoords();
    // mymap.on('locationfound', function (e) {
    //   console.log(e.latlng);
    //   mymap.setView(e.latlng);
    // })
    locateMe();
    mymap.on('click', onMapClick);
  })

  const mymap = L.map('mapid');
  const coordDatabase = { url: undefined };

  const getCoords = function () {
    $('#get-coords').click(function () {
      coordDatabase.url = mymap.getBounds();
      console.log(coordDatabase);
      console.log(coordDatabase.url._northEast.lat);
      console.log(coordDatabase.url._northEast.lng);
      console.log(coordDatabase.url._southWest.lat);
      console.log(coordDatabase.url._southWest.lng);
    })
  }

  const locateMe = function () {
    $('#locate-current').click(function () {
      mymap.locate({ setView: true });
    })
  }

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data, imagery &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors</a>',
    maxZoom: 18,
  }).addTo(mymap);

  mymap.fitBounds([
    [40.712, -74.227],
    [40.774, -74.125]
  ]);


  // const addPin = (pin, id) => {

  //   const values = [
  //     pin.map_id,
  //     id,
  //     pin.title,
  //     pin.description,
  //     pin.image_url,
  //     pin.longitude,
  //     pin.latitude
  //   ];
  //   return db
  //     .query(`
  //         INSERT INTO pins
  //         VALUES (DEFAULT, $1, $2, $3, $4, %5, %6, %7)
  //         RETURNING *;
  //     `, values)
  //     .then(res => res.rows[0])
  //     .catch(err => err.message);
  //   }

  //   const mapsRoutes = require("./routes/maps");


  // listAllPins();

  // const markers = {
  //   1: {
  //     map_id: 1,
  //     creator_id: 1,
  //     title: 'Hello World',
  //     description: "Welcome to Vancouver!",
  //     image_url: null,
  //     longitude: 49.2827,
  //     latitude: -123.1207
  //   }
  // };

  // const addMarker = function(eventObj) {
  //   markers[eventObj.id] = {
  //     map_id: eventObj.map_id,
  //     creator_id: eventObj.creator_id,
  //     title: eventObj.title,
  //     description: eventObj.description,
  //     image_url: eventObj.image_url,
  //     longitude: eventObj.longitude,
  //     latitude: eventObj.latitude
  //   }
  // };

  const markers = [];

  function onMapClick(e) {

    // const values = addMarker(something);

    const m001 = new L.marker(e.latlng, { draggable: true })
      .setLatLng(e.latlng)
      .addTo(mymap)
      .bindPopup("<h1>Hello World</h1><h2>You clicked the map at " + e.latlng.lat.toString() + ", " + e.latlng.lng.toString() + "</h2>")

    markers.push(m001);

    m001.on('move', e => m001.bindPopup("<h1>Hello World</h1><h2>You clicked the map at " + e.latlng.lat.toString() + ", " + e.latlng.lng.toString() + "</h2>"))

    console.log(markers, m001);
  }

  mymap.on('click', onMapClick);

</script>

</html>
