<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Bangers&family=Source+Sans+Pro:wght@300;600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <!-- App CSS -->

  <link rel="stylesheet" href="styles/navbar.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/current-map.css">
  <link rel="stylesheet" href="styles/map-list.css">
  <link rel="stylesheet" href="styles/new-map.css">
  <link rel="stylesheet" href="styles/map-overlay.css">

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <!-- App JS -->
  <script src="scripts/map.js"></script>
  <script src="scripts/new-map.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/homepage.js"></script>
  <title>Wiki Map</title>
</head>

<body>
  <nav>
    <div class="nav-container">
      <div class="nav-left">
        <h1 class="logo">Wiki Map</h1>
        <% if (userID) { %>
          <button id="create-new-map"><strong>Create</strong> new map
            <i class="fas fa-map-marker-alt"></i></button>
          <% } %>
            <div class="dropdown">
              <button class="dropdown-button">MAPS
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <% if (!userID) { %>
                  <button id="discover-not-logged-in">Discover</button>
                  <% } %>
                    <% if (userID) { %>
                      <button id="discover">Discover</button>
                      <button id="favorites">Favorites</button>
                      <button id="my-maps">My Maps</button>
                      <button id="my-contributions">Contributions</button>
                      <% } %>
              </div>
            </div>
      </div>
      <div class="nav-right">
        <% if (!userID) { %>
          <button id="register">REGISTER</button>
          <button id="login">LOGIN</button>
          <% } %>
            <% if (userID) { %>
              <button id="logout">LOGOUT</button>
              <% } %>
      </div>
    </div>
  </nav>

  <div class="map-list">
    <div class="map-list-header">
      <h2 class="map-list-title">Discover</h2>
      <button id="close-map-list">
        <i class="far fa-window-close"></i>
      </button>
    </div>

    <select name="categories" id="categories">
      <option value="" disabled selected>Filter by category</option>
      <option value="entertainment">Entertainment</option>
      <option value="food_and_drink">Food & Drink</option>
      <option value="shopping">Shopping</option>
      <option value="services">Services</option>
      <option value="outdoor_activites">Outdoor Activities</option>
      <option value="most_recent">Most Recent</option>
      <option value="other">Other</option>
    </select>
    <ul id="list-of-maps"></ul>
    <div class="map-list-buttons">
    </div>
  </div>
  <div class="main-container">
    <div class="current-map">
      <div id="current-mapid"></div>
    </div>
  </div>


  <div class="map-overlay">
    <div class="new-map-footer">
      <form action="/maps/" method="POST" id="new-map-form">
        <input type="hidden" name="creator_id" value="<%= userID %>" required>
        <input type="text" placeholder="Title" name="title" required>
        <input id="form1" type="hidden" name="longitude_1" required>
        <input id="form2" type="hidden" name="latitude_1" required>
        <input id="form3" type="hidden" name="longitude_2" required>
        <input id="form4" type="hidden" name="latitude_2" required>

        <select name="category" data-dropup-auto="false" required>
          <option value="" disabled selected>Select a category</option>
          <option value="entertainment">Entertainment</option>
          <option value="food_and_drink">Food & Drink</option>
          <option value="shopping">Shopping</option>
          <option value="services">Services</option>
          <option value="outdoor_activites">Outdoor Activities</option>
          <option value="other">Other</option>
        </select>

        <button type="submit">Create</button>
      </form>
    </div>




    <div class="current-map-header">
      <% if (userID) { %>
        <div class="favorites-wrapper">
          <form action="/favorites/" method="POST" id="add-to-favorites">
            <input type="hidden" name="user_id" value="<%= userID %>" required>
            <input type="hidden" name="map_id" id="favorites-mapid" required>
            <button class="add-to-favorites" type="submit">
              <i class="far fa-thumbs-up"></i>
            </button>
          </form>

          <form action="/favorites/delete" method="POST" id="remove-from-favorites">
            <input type="hidden" name="user_id" value="<%= userID %>" required>
            <input type="hidden" name="map_id" id="remove-from-favorites-mapid" required>
            <button class="remove-from-favorites" type="submit">
              <i class="fas fa-thumbs-up"></i>
            </button>
          </form>
        </div>
        <% } %>
          <h2>Map of the day: Best Groomers In Town</h2>
          <% if (userID) { %>
            <button id="edit">Edit</button>
    </div>

    <div class="current-map-footer">
      <form class="add-pin" action="/pins/" method="POST" data-pin-id="">
        <input type="hidden" name="creator_id" value="<%= userID %>">
        <input type="hidden" name="map_id" id="pin-mapid">
        <input type="hidden" name="longitude" id="pin-longitude">
        <input type="hidden" name="latitude" id="pin-latitude">
        <div class="pin-title-image-url">
          <input type="text" name="title" class="add-pin" id="pin-title" placeholder="Pin title" required>
          <input type="url" name="image_url" class="add-pin" id="pin-img" placeholder="Image URL">
        </div>
        <textarea class="add-pin" name="description" id="pin-descript" placeholder="Description"></textarea>
        <div class="add-pin-button-holder">
          <button class="add-pin" id="pin-submit" type="submit">Add Pin</button>
        </div>
      </form>
      <button id="close-edit-map">
        <i class="far fa-window-close"></i>
      </button>
      <% } %>
    </div>

  </div>


</body>

</html>
