nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100vw;
  background-image: url("/images/black-linen-2.png");
  background-color: #2dab46;
  box-shadow: 0 4px 4px -1px #646464;
}
nav .logo {
  font-family: "Bangers", cursive;
  letter-spacing: 0.1em;
  color: #EEE;
  margin-top: 0;
  margin-bottom: 0;
}
nav .nav-right {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}
nav .nav-left {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-self: flex-end;
}
nav .create-new-map {
  align-self: center;
  height: 1.5rem;
  margin-left: 1rem;
  border-radius: 3px;
  background-color: #eee;
  color: #464646;
  font-size: 0.8rem;
}
nav .create-new-map .fa-map-marker-alt {
  margin-left: 0.2rem;
}
nav button {
  border: none;
  background-color: transparent;
  color: #EEE;
  font-family: "Source Sans Pro", sans-serif;
}
nav button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
nav button:active {
  transform: scale(1);
}
