html {
  font-size: 30px;
}

body {
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  z-index: 0;
}
.main-container .map-list {
  width: 30%;
}
.main-container .current-map {
  width: 70%;
}

.new-map-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #373737;
}
.new-map-footer #mapid {
  height: 200px;
  width: 90%;
  resize: vertical;
}
.new-map-footer #new-map-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.new-map-footer #new-map-form input,
.new-map-footer #new-map-form select,
.new-map-footer #new-map-form button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid #464646;
}
.new-map-footer #new-map-form button:hover {
  cursor: pointer;
  background-color: #548fa59b;
  color: #eee;
}
.new-map-footer #new-map-form button:active {
  transform: scale(0.98);
}
